@media only screen and (max-width: 320px) and (min-height: 568px) {
    /* html,body{
    font-size: 64px;
    } */
    /*320px布局*/
html{font-size: 50px;}
body{font-size: 0.14rem /*实际相当于14px*/}
 
/* iphone 6 */
@media (min-device-width : 375px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){
    html{font-size: 117.1875px;}
}
/* iphone6 plus */
@media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){
    html{font-size: 129.375px;}
}




    *{
        margin: 0px;
        padding: 0px;
    
    }
    
    .box{
       
        background: #FF5345;
        height: 100%;
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction:column;
        
      
    }
    
    .box-item2{
        width: 6.4rem;
        height: 4.27rem;
        background: #FF5345;  
    }
    .box-item2 img{
        width: 6.4rem;
        height:4.27rem;
    }
    .box-item4{
        width: 6.4rem;
        height: 4.55rem;
        background-image: url(../img/0-首页_slices/福利背景\ \(1\)\ \(1\).png);
        background-size: 5.20rem 4.75rem;
        position: relative;
    }
    
    .box-item3{
        width: 5.6rem;
        height: 1rem;
       
    }
    .box-item5{
        width: 5.6rem;
        height: 3.35rem;
    
        position: relative;
    }
    
    /* 预设三个div相同的名字 */
    /* .box-item{
        height: 170px;
        width: 700px;
        position: absolute;
        top: 60%;
        left: 38%;
    } */
    
    /* .box-item div{
        height: 90px;
        width: 80px;
       
    } */
    /*  预设三个不同的名字*/
    .box-it1{
        height: 0.94rem;
        width: 1.5rem;
        position: absolute; 
        top: 20%;
        left: 14%;
    }
    .box-it1 div img{height: 80px;}
    .box-it1 p{margin: 10px auto;}
    .box-it1 div{height: 80px;}
    .box-it2{
        height: 94px;
        width: 150px;
        position: absolute;
        top: 20%;
        left: 42%;   
    }
    .box-it2 div img{height: 80px;}
    .box-it2 p{margin: 10px auto;}
    .box-it2 div{height: 80px;}
    .box-it3{
        height: 94px;
        width: 150px;
        position: absolute;
        top: 20%;
        left: 68%;
    }
    .box-it3 div img{height: 80px;}
    .box-it3 p{margin: 10px auto;}
    .box-it3 div{height: 80px;}
    .box-font1{
        width: 126px;
        height: 12px;
        font-size: 16px;
        font-family: PingFang SC;
        font-weight: bold;
        color: #540808;
        line-height: 12px
    }
    .box-font2{
        width: 143px;
        height: 14px;
        font-size: 18px;
        font-family: PingFang SC;
        font-weight: bold;
        color: #C70505;
        line-height: 12px;
    } 
    
    .box-item6{
        
        position: absolute;
        top: 65%;
        left: 12%;
    }
    .box-item6 input{
        width: 400px;
        height: 58px;
        background: #FFFFFF;
        border: 4px solid #9D0302;
        border-radius: 58px;
        font-size: 20px;
        font-family: PingFang SC;
        font-weight: 600;
        color: #8D2217;
        text-align: center;
       
    }
     .box-item7{
    
         position: absolute;
         top: 89%;
         left: 1px;
     }
     .box-item7 img{
         width: 520px;
         height: 120px;
         /* border-radius: 30%; */
     }
     .box-item8{
         height: 20px;
         position: absolute;
         top: 100%;
         left: 30%;
    
     }
     #sp{
        border-radius: 6px;    
        height: 20px;    
        width: 20px;    
        display: inline-block;    
        background:  #EF0708;      
        vertical-align: top;
    
     }
     #sp span{
         color: white;
     }
    #sp-one{
        font-size: 18px;
        font-family: PingFang SC;
        font-weight: bold;
        color: #B63C00;
        line-height: 12px;
    }
    .box-item9{
        width: 500px;
        height: 50px;
        background: #FF5345;  
    }
    .box-item9 p{
        font-size: 13px;
        font-family: PingFang SC;
        font-weight: 400;
        color: #FFA5A5;
        line-height: 28px;
    }
    .box-item10{
        height: 120px;
        position: relative;
    }
    .box-item10 div img{
        width: 520px;
        height: 120px;
    }
    #div1{
        background:#FCDFDE;
        height: 384px;
        width: 220px;
        position: absolute;
        left: 3%;
    
        border:5px solid #FEF889;
        border-radius: 15px;
      
        
    }
    #img1{
        width: 90px;
        height: 90px;
    
        position: absolute;
        top: 30%;
        left: 24%;
        
        
    }
    #div2{
        background:#FEBA81;
        height: 384px; 
        width: 220px;
        position: absolute;
        right: 3%;
    
        border:5px solid #FEF889;
        border-radius: 15px;
    }
    #img2{
        width: 90px;
        height: 90px;
    
        position: absolute;
        top: 30%;
        right: 24%;
        
    }
    #div2 p,#div1 p{
        font-size: 13px;
        font-family: PingFang SC;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 17px;
    
        position: absolute;
        top: 94%;
       
    
    
    }
    #div3{
        height: 10px;
        width: 70px;
        position: absolute;
        top: 80%;
        right: 15%;
    
    }
    #div3 img{
        height: 15px;
        width: 15px;
    }
    #div3 p{
        font-size: 15px;
        font-family: PingFang SC;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 15px;
        position: absolute;
        top: 2%;
        right: 2%;
        
    }
    #img4{
        height: 100px;
        width: 220px;
    
        position: absolute;
        
        top: 99%;
        right: 2%;
    
    }
    #img3{
        height: 100px;
        width: 220px;
        position: absolute; 
        top: 99%;
        right: 2%;
    
    }
    .box-item11{
        height: 900px;
        
        position: relative;
    }
    #title img{
        position: absolute;
        top: 54%;
    }
    
    .box-item12{
        width: 520px;
        height: 560px;
        background: #CB2B20;
        border-radius: 23px;
        position: absolute;
        top: 68%;
    
    }
    #stop-buton,#ling-buton{
        height: 50px;
        width: 50px;
    }
    .box-item13{
        height: 78px;
        width: 460px;
        position: absolute;
        
        top: 5%;
        left: 5%;
        /* 边框虚线 */
        border-bottom:1px dashed white; 
    }
    
    .box-item12 p{
        font-size: 16px;
        font-family: PingFang SC;
        font-weight: 300;
        color: #FFFAE6;
        line-height: 26px;
    
        position: absolute;
        top: 10%;
        left: 11%;
    }
    #ling-buton{
        position: absolute;
        /* top: 70%; */
        right: 0%;
    }
    .box-item14{
        height: 78px;
        width: 460px;
        position: absolute;
        
        top: 22%;
        left: 5%;
        /* 边框虚线 */
        border-bottom:1px dashed white; 
    }
    .box-item15,.box-item16{
        height: 78px;
        width: 460px;
        
        /* 边框虚线 */
        border-bottom:1px dashed white; 
    }
    .box-item17{
        height: 78px;
        width: 460px;  
    }
    .box-item15{
        position: absolute;
        
        top: 39%;
        left: 5%;
    }
    .box-item16{
        position: absolute;
        
        top: 56%;
        left: 5%;
    }
    .box-item17{
        position: absolute;
        
        top: 72%;
        left: 5%;
    }
    #but{
        height: 80px;
        width: 300px;
    }
    .box-item18{
        height: 80px;
        width: 300px;
        position: absolute;
        top: 85%;
        left: 20%;
    }
    .box-video{
        width: 520px;
        height: 560px;
        position: absolute;
        top: 101%;
    }
    .box-item19{
        width: 520px;
        height: 560px;
    }
    .box-item20{
        width: 520px;
        height: 560px;
        background: #CB2B20;
        border-radius: 23px;
        position: absolute;
        top: 21%;
    
        overflow: hidden;
    
    }
    #photo{
        width: 1200px;
        animation: switch 10s ease-out infinite;
        
    
    }
    
    #photo > img {
        float: left;
        /* position: absolute;
        top: 2%; */
        width: 260px;
        height: 462px;
    }
     
    @keyframes switch {
        0%, 20% {
            margin-left: 0;
        }
        25%,40%{
            margin-left: -300px;   
        }
        45%, 60% {
            margin-left: -600px;
        }
        65%, 80% {
            margin-left: -900px;
        }
        85%, 100% {
            margin-left: -1200px;
        }
    
    }
    .box-footer{
        width: 520px;
        height: 190px;
        background: #CB2B20;
        border-radius: 23px;
        position: absolute;
        top: 122%;
        
    }
    #content{
        /* 去掉圆点 */
        list-style-type: none;
        /* 间距 */
        padding: 25px;
        line-height: 40px;
    }
    
    }