@media only screen and (max-width: 320px) and (min-height: 568px) {
    /* html,body{
    font-size: 64px;
    } */
    /*320px布局*/
html{font-size: 50px;}
body{font-size: 0.14rem /*实际相当于14px*/}
 
/* iphone 6 */
@media (min-device-width : 375px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){
    html{font-size: 117.1875px;}
}
/* iphone6 plus */
@media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){
    html{font-size: 129.375px;}
}




    *{
        margin: 0rem;
        padding: 0rem;
    
    }
    
    .box{
       
        background: #FF5345;
        height: 100%;
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction:column;
        
      
    }
    
    .box-item2{
        width: 5.2rem;
        height: 3rem;
        background: #FF5345;  
    }
    .box-item2 img{
        width: 5.2rem;
        height: 3.45rem;
    }
    .box-item4{
        width: 5.2rem;
        height: 4.55rem;
        background-image: url(../img/0-首页_slices/福利背景\ \(1\)\ \(1\).png);
        background-size: 5.2rem 4.55rem;
        position: relative;
    }
    
    .box-item3{
        width: 5.6rem;
        height: 1rem;
       
    }
    .box-item5{
        width: 5.6rem;
        height: 3.35rem;
    
        position: relative;
    }
    
    /* 预设三个div相同的名字 */
    /* .box-item{
        height: 170px;
        width: 700px;
        position: absolute;
        top: 60%;
        left: 38%;
    } */
    
    /* .box-item div{
        height: 90px;
        width: 80px;
       
    } */
    /*  预设三个不同的名字*/
    .box-it1{
        height: 0.94rem;
        width: 1.5rem;
        position: absolute; 
        top: 20%;
        left: 14%;
    }
    .box-it1 div img{height: 0.8rem;}
    .box-it1 p{margin: 0.1rem auto;}
    .box-it1 div{height: 0.8rem;}
    .box-it2{
        height: 0.94rem;
        width: 1.50rem;
        position: absolute;
        top: 20%;
        left: 42%;   
    }
    .box-it2 div img{height: 0.8rem;}
    .box-it2 p{margin: 0.1rem auto;}
    .box-it2 div{height: 0.8rem;}
    .box-it3{
        height: 0.94rem;
        width: 1.5rem;
        position: absolute;
        top: 20%;
        left: 68%;
    }
    .box-it3 div img{height: 0.8rem;}
    .box-it3 p{margin: 0.1rem auto;}
    .box-it3 div{height: 0.8rem;}
    .box-font1{
        width: 1.26rem;
        height: 0.12rem;
        font-size: 0.16rem;
        font-family: PingFang SC;
        font-weight: bold;
        color: #540808;
        line-height: 0.12rem;
    }
    .box-font2{
        width: 1.43rem;
        height: 0.14rem;
        font-size: 0.18rem;
        font-family: PingFang SC;
        font-weight: bold;
        color: #C70505;
        line-height: 0.12rem;
    } 
    
    .box-item6{
        
        position: absolute;
        top: 65%;
        left: 12%;
    }
    .box-item6 input{
        width: 4rem;
        height: 0.58rem;
        background: #FFFFFF;
        border: 0.04rem solid #9D0302;
        border-radius: 0.58rem;
        font-size: 0.2rem;
        font-family: PingFang SC;
        font-weight: 600;
        color: #8D2217;
        text-align: center;
       
    }
     .box-item7{
    
         position: absolute;
         top: 89%;
         left: 0.01rem;
     }
     .box-item7 img{
         width: 5.2rem;
         height: 1.2rem;
         /* border-radius: 30%; */
     }
     .box-item8{
         height: 0.2rem;
         position: absolute;
         top: 100%;
         left: 30%;
    
     }
     #sp{
        border-radius: 0.06rem;    
        height: 0.2rem;    
        width: 0.2rem;    
        display: inline-block;    
        background:  #EF0708;      
        vertical-align: top;
    
     }
     #sp span{
         color: white;
     }
    #sp-one{
        font-size: 0.18rem;
        font-family: PingFang SC;
        font-weight: bold;
        color: #B63C00;
        line-height: 0.12rem;
    }
    .box-item9{
        width: 5rem;
        height: 0.5rem;
        background: #FF5345;  
    }
    .box-item9 p{
        font-size: 0.13rem;
        font-family: PingFang SC;
        font-weight: 400;
        color: #FFA5A5;
        line-height: 0.28rem;
    }
    .box-item10{
        height: 1.2rem;
        position: relative;
    }
    .box-item10 div img{
        width: 5.2rem;
        height: 1.2rem;
    }
    #div1{
        background:#FCDFDE;
        height: 3.84rem;
        width: 2.2rem;
        position: absolute;
        left: 3%;
    
        border:0.05rem solid #FEF889;
        border-radius: 0.15rem;
      
        
    }
    #img1{
        width: 0.9rem;
        height: 0.9rem;
    
        position: absolute;
        top: 30%;
        left: 24%;
        
        
    }
    #div2{
        background:#FEBA81;
        height: 3.84rem; 
        width: 2.2rem;
        position: absolute;
        right: 3%;
    
        border:0.05rem solid #FEF889;
        border-radius: 0.15rem;
    }
    #img2{
        width: 0.9rem;
        height: 0.9rem;
    
        position: absolute;
        top: 30%;
        right: 24%;
        
    }
    #div2 p,#div1 p{
        font-size: 0.13rem;
        font-family: PingFang SC;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 0.17rem;
    
        position: absolute;
        top: 94%;
       
    
    
    }
    #div3{
        height: 0.1rem;
        width: 0.7rem;
        position: absolute;
        top: 80%;
        right: 15%;
    
    }
    #div3 img{
        height: 0.15rem;
        width: 0.15rem;
    }
    #div3 p{
        font-size: o.15rem;
        font-family: PingFang SC;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 0.15rem;
        position: absolute;
        top: 2%;
        right: 2%;
        
    }
    #img4{
        height: 1rem;
        width: 2.2rem;
    
        position: absolute;
        
        top: 99%;
        right: 2%;
    
    }
    #img3{
        height: 1rem;
        width: 2.2rem;
        position: absolute; 
        top: 99%;
        right: 2%;
    
    }
    .box-item11{
        height: 9rem;
        
        position: relative;
    }
    #title img{
        position: absolute;
        top: 54%;
    }
    
    .box-item12{
        width: 5.2rem;
        height: 5.6rem;
        background: #CB2B20;
        border-radius: 0.23rem;
        position: absolute;
        top: 68%;
    
    }
    #stop-buton,#ling-buton{
        height: 0.5rem;
        width: 0.5rem;
    }
    .box-item13{
        height: 0.78rem;
        width: 4.6rem;
        position: absolute;
        
        top: 5%;
        left: 5%;
        /* 边框虚线 */
        border-bottom:1px dashed white; 
    }
    
    .box-item12 p{
        font-size: 0.16rem;
        font-family: PingFang SC;
        font-weight: 300;
        color: #FFFAE6;
        line-height: 0.26rem;
    
        position: absolute;
        top: 10%;
        left: 11%;
    }
    #ling-buton{
        position: absolute;
        /* top: 70%; */
        right: 0%;
    }
    .box-item14{
        height: 0.78rem;
        width: 4.6rem;
        position: absolute;
        
        top: 22%;
        left: 5%;
        /* 边框虚线 */
        border-bottom:1px dashed white; 
    }
    .box-item15,.box-item16{
        height: 0.78rem;
        width: 4.6rem;
        
        /* 边框虚线 */
        border-bottom:10.01px dashed white; 
    }
    .box-item17{
        height: 0.78rem;
        width: 4.6rem;  
    }
    .box-item15{
        position: absolute;
        
        top: 39%;
        left: 5%;
    }
    .box-item16{
        position: absolute;
        
        top: 56%;
        left: 5%;
    }
    .box-item17{
        position: absolute;
        
        top: 72%;
        left: 5%;
    }
    #but{
        height: 0.8rem;
        width: 3rem;
    }
    .box-item18{
        height: 0.8rem;
        width: 3rem;
        position: absolute;
        top: 85%;
        left: 20%;
    }
    .box-video{
        width: 5.2rem;
        height: 5.6rem;
        position: absolute;
        top: 101%;
    }
    .box-item19{
        width: 5.2rem;
        height: 5.6rem;
    }
    .box-item20{
        width: 5.2rem;
        height: 5.6rem;
        background: #CB2B20;
        border-radius: 0.23rem;
        position: absolute;
        top: 21%;
    
        overflow: hidden;
    
    }
    #photo{
        width: 12rem;
        animation: switch 10s ease-out infinite;
        
    
    }
    
    #photo > img {
        float: left;
        /* position: absolute;
        top: 2%; */
        width: 2.6rem;
        height: 4.62rem;
    }
     
    @keyframes switch {
        0%, 20% {
            margin-left: 0;
        }
        25%,40%{
            margin-left: -3rem;   
        }
        45%, 60% {
            margin-left: -6rem;
        }
        65%, 80% {
            margin-left: -9rem;
        }
        85%, 100% {
            margin-left: -12rem;
        }
    
    }
    .box-footer{
        width: 5.2rem;
        height: 1.9rem;
        background: #CB2B20;
        border-radius: 0.23rem;
        position: absolute;
        top: 122%;
        
    }
    #content{
        /* 去掉圆点 */
        list-style-type: none;
        /* 间距 */
        padding: 0.25rem;
        line-height: 0.4rem;
    }
    
    }