*{
    margin: 0;
    padding: 0;
}
/* 整个布局 */
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FF4A3D;

}

.body-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 6.4rem;
    background-color: #FF4A3D;
    position: relative;
}
.header{
    height: 4.27rem;
    width: 6.4rem;
    
    background:url(../img/0-shouye_slices/header-background.png);
    background-size: 6.4rem 4.27rem;
}
.scroll-wrap{
    height: 6.78rem;
    width: 6.4rem;
    position: absolute;
    top: 3.6rem;
    background: url(../img/0-shouye_slices/fuli-background.png);
    background-size: 6.4rem 6.78rem;
}
.top-box{
    height: 6.78rem;
    width: 6.4rem;
    position: relative;
    

}
.box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 5.2rem ;
    position: absolute;
    top: 0.9rem;
    left: 0.6rem;
   
}

.box-item div{
    height: 1rem;
    width: 1.19rem;
    position: relative;
}
.box-item div img{
    width: 1.19rem;
    height: 1.19rem;

}
.box-font1{
    width: 1.2rem;
    height: 0.22rem;
    font-size: 0.22rem;
    font-family: PingFang SC;
    font-weight: bold;
    color: #540808;
    line-height: 0.32rem;
    position: absolute;
    top: 1.19rem;
    text-align: center;
}
.box-font2{
    width: 1.22rem;
    height: 0.24rem;
    font-size: 0.24rem;
    font-family: PingFang SC;
    font-weight: bold;
    color: #C70505;
    line-height: 0.32rem;
    text-align: center;
}
.input-box input{
    width: 5.43rem;
    height: 0.99rem;
    background: #FFFFFF;
    border: 0.03rem solid #9D0302;
    border-radius: 0.49rem;

    font-size: 0.34rem;
    font-family: PingFang SC;
    font-weight: 600;
    color: #8D2217;
    line-height: 0.59rem;
    text-align: center;
}
.box1{
    width: 5.43rem;
    height: 2.2rem;
    position: absolute;
    top: 2.65rem;
    left: 0.49rem;

}
.get-btn-layer img{
    width: 5.56rem;
    height: 1.5rem;
    position: absolute;
    top: 1.6rem;
    
   
}
.num-user{
    width: 5.93rem;
    height: 0.2rem;
    position: absolute;
    top: 2.55rem;
    left: 0.53rem;
}
#sp-one{
    /* width: 0.44rem;
    height: 0.23rem; */
    font-size: 0.24rem;
    font-family: PingFang SC;
    font-weight: bold;
    color: #B63C00;
    line-height: 0.78rem;
}
#sp{
   /* font-size: 0.15rem;
    font-family: Lantinghei SC;
    font-weight: 800;
    color: #FFE6A0;
    line-height: 0.31rem;
    
    width: 0.61rem;
    height: 0.27rem;
    background: #EF0708; */
    border-radius: 0.05rem;

}
#sp span{
    
    font-size: 0.15rem;
    font-family: Lantinghei SC;
    font-weight: 800;
    color: #FFE6A0;
    line-height: 0.31rem;
    
    width: 0.61rem;
    height: 0.27rem;
    background: #EF0708;
    border-radius: 0.05rem;

    
}
.msg{
    height: 6.8rem;
    width: 6.4rem;
    
}
.top-msg{
    height: 6rem;
    width: 6.4rem;

}
.main-msg{
    width: 5.8rem;
    height: 0.67rem;
    position: relative;
    
}
.main-msg div{
    width: 5.8rem;
    position: absolute;
    left: 5%;
}
.main-msg div p{
    width: 5.8rem;
    height: 0.67rem;
    font-size: 0.20rem;
    font-family: PingFang SC;
    font-weight: 400;
    color: #FFA5A5;
    line-height: 0.24rem;
    text-align: center;

}
.pk-title{
    width: 5.91rem;
    height: 1.72rem;

    background: url(../img/0-shouye_slices/title\(2\).png);
    background-size: 5.91rem 1.72rem;
    
    position: relative;

}
.icon-update{
    width: 2.5rem;
    height: 0.32rem;
    position: absolute;
    left: 4.5rem;
    top: 0.58rem;

}
.icon-update img{
    width: 0.35rem;
    height: 0.29rem; 

}
.icon-update p{
    width: 1rem;
    height: 0.25rem;
    font-size: 0.26rem;
    font-family: PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 0.40rem;
    position: absolute;
    top: 0.7rem;
    right: 1rem;
  
}
.pk-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 6rem;

}
.pk-item{
    width: 2.6rem;
    height: 4.62rem;
    border-radius: 0.13rem;
    background-color: coral;
    border: 0.05rem solid #FEF889 ;

    position: relative;

}
.pk-item p{
    width: 2.16rem;
    height: 0.26rem;
    font-size: 0.28rem;
    font-family: PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 0.40rem;

    position: absolute;
    top: 88%;
}
.pk-item img{
    width: 2.83rem;
    height: 0.93rem;
   
}
#pk-player1,#pk-player2{
    width: 0.87rem;
    height: 0.87rem;
    position: absolute;
    top: 1.58rem;
    left: 0.87rem;


}
#setbtn{
    width: 2.83rem;
    height: 0.93rem;
    position: absolute;
    top: 100%;
    left: 0rem;
}
.color-title{
    width: 6.4rem;
    height: 1.8rem;
}
.color-title div{
    height: 0.7rem;
    width: 6.4rem;
}
.color-title img{
    width: 6.4rem;
    height: 1.22rem;

}
.music-box{
    width: 6.08rem;
    height: 8.56rem;
    position: relative;
}
.music-main{
   
    width: 6.08rem;
    height: 8.56rem;
    background: #CB2B20;
    border-radius: 0.20rem;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;  

}
.music-list{
    width: 5.8rem;
    height: 1.5rem;
    border-bottom:0.01rem dashed white;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

}
.music-list p{
    width: 3.24rem;
    height: 0.59rem;
    font-size: 0.24rem;
    font-family: PingFang SC;
    font-weight: 400;
    color: #FFFAE6;
    line-height: 0.36rem;
}
.music-list img{
    width: 0.7rem;
    height: 0.69rem;
}
.music-btn img{
    width: 3.14rem;
    height: 0.92rem;
    background: #CB2B20;
    border-radius: 0.2rem;
    
}

.video-box{
    width: 6.4rem;
    height: 7.42rem;
    background: #CC0000;
}
.set-itbtn img{
    width: 3.82rem;
    height: 1.1rem;
}

.video-title img{
    width: 6.4rem;
    height: 1.22rem;

}
/* 轮番视频 */
.video-item div{
    width: 12rem;
    animation: switch 10s ease-out infinite;
}
.video-item img{
    width: 2.6rem;
    height: 4.62rem;
    border-radius: 0.13rem;
    
    float: left;
}

@keyframes switch {
    0%, 20% {
        margin-left: 0;
    }
    25%,40%{
        margin-left: -3rem;   
    }
    45%, 60% {
        margin-left: -6rem;
    }
    65%, 80% {
        margin-left: -9rem;
    }
    85%, 100% {
        margin-left: -12rem;
    }

}



.footer{
    height: 4.3rem;
    width: 6.4rem;
    background: #F03030;
    float: right;
}
.contact{
    height: 4.3rem;
    width: 6.4rem;
    background: url(../img/0-shouye_slices/footer.png);
    background-size: 6.4rem 4.3rem;
}