*{
    margin: 0;
    padding: 0;
}
.body-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 6.4rem;
    background-color: #E31F1A;
}
.header{
    width: 6.4rem;
    height: 4.45rem;
    background: url(../img/index-img/background50kb.jpg);
    background-size: 6.4rem 4.45rem;
    position: relative;
}
#top-icon{
    width: 0.97rem;
    height: 0.27rem;
    position: absolute;
    top: 0.17rem;
    left: 0.22rem;

}
#peole-left{
    width: 1.33rem;
    height: 2.2rem;
    position: absolute;
    top: 1.98rem;
    left: 0.02rem;


}
#people-right{
    width: 1.47rem;
    height: 2.26rem;
    position: absolute;
    right: 0.11rem;
    top: 1.8rem;

}
.main-title img{
    width: 6.4rem;
    height: 1.12rem;
}
.main{
    width: 6rem;
    height: 4rem;
    position: relative;
}
.main-grid{
    width: 6rem;
    height: 4.84rem;

    background: #FFB955;
    /* box-shadow: 0rem 0.07rem 18rem 0rem #B60917, 0rem -0.04rem 0rem 0rem #FF6C3F, 0rem 0.04rem 0rem 0rem #FFD45D;
    */
    border-radius: 0.15rem;
    position: absolute;
    top: -0.5rem;
}
.main-back{
    width: 5.60rem;
    height: 4.41rem;
    background: #FFFCE9;
    border-radius: 0.14rem;
    margin: 0.2rem 0.22rem;
   
}
#img-top,#img-center,#img-bottom{
    width: 5.30rem;
    height: 1.4rem;
    margin: 0.13rem 0.16rem 0rem 0.14rem;

}
#img-top img{
    margin-top: 0.13rem;
   
}
#img-bottom{
    
    margin-top: 0rem;
}
#img-top img,#img-center img,#img-bottom img{
    width: 5.30rem;
    height: 1.4rem;
    /* margin: 0.13rem 0.16rem 0rem 0.14rem; */

}
.null{
    width: 6rem;
    height: 3rem;
    background-color: #EB432D;

    
}
.connect,.connect img{
    width: 6.4rem;
    height: 1rem;
}
.video-ring{
    width: 6rem;
    height: 10.34rem;
    background: #FFB955;
    /* box-shadow: 0px 7px 18px 0px #B60917, 0px -4px 0px 0px #FF6C3F, 0px 4px 0px 0px #FFD45D; */
    border-radius: 0.15rem;
    border-top-left-radius: 0rem ;
    border-top-right-radius: 0rem;
    position: relative;
  
}
.video-header{
    width: 6rem;
    height: 0.77rem;
    position: absolute;
    top: -0.15rem;

}
.video-header img{
    width: 3.88rem;
    height: 0.77rem;
    position: absolute;
    left: 1.07rem;


}
.video-header p{
    width: 2.78rem;
    font-size: 0.36rem;
    font-family: PingFang SC;
    font-weight: bold;
    color: #96271C;
    position: absolute;
    left: 1.62rem;
    top: 0.13rem;
}
.video-title{
    width: 5.16rem;
    height: 0.53rem;
    /* margin: 0.72rem 0.42rem; */
    margin-top: 0.74rem;
    margin-left: 0.42rem;

}
.video-title p{
    width: 5.16rem;
    font-size: 0.24rem;
    font-family: PingFang SC;
    font-weight: bold;
    color: #96271C;
    text-align: center;
}

.video-content{
    width: 5.60rem;
    height: 7.52rem;
    background: #AE110C;
    border: 0.08rem solid #FF8920;
    /* box-shadow: 0rem 0rem 0.46rem 0rem #820F0B, 0px -5px 0px 0px #F14A17; */
    border-radius: 0.14rem;
    margin-top: 0.3rem;
    margin-right: 0.1rem;
    margin-left: 0.1rem;
}

.swiper-container {
    width: 5.60rem;
    height: 7.52rem;
    position: absolute;
    top: -0.3rem;

  }
  .swiper-slide {
    text-align: center;
    font-size: 0.18rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    transition: 300ms;
    transform: scale(0.8);
  }
  .swiper-slide-active,.swiper-slide-duplicate-active{
    transform: scale(1);
    width: 3.70rem;
    height: 6.46rem;
    z-index: 3;
  }
  .swiper-slide-next{
    z-index: 2;
    opacity: 0.4;

}
 .swiper-slide-prev{
    opacity: 0.4;
}

.slide-item{
    width: 3.70rem;
    height: 6.46rem;
    border-radius: 0.1rem;


}
#pic1,#pic2,#pic3{
    width: 3.70rem;
    height: 6.46rem;
    border: 0.04rem solid #FFDB7A;
    border-radius: 0.10rem;
  }

#free-video2,#free-video1,#free-video3{
    display: none;
    width: 3.70rem;
    height: 6.46rem;
    border: 0.04rem solid #FFDB7A;
    border-radius: 0.10rem;
    
     border-radius: 0.13rem;
     background-size: auto;
 }
.free-btn{
    width: 0.97rem;
    height: 0.97rem;
    position: absolute;
    top: 40%;
    left: 0.6rem;
}
.free-btn img{
    width: 0.97rem;
    height: 0.97rem;

}
.msg{
    width: 5.7rem;
    height: 0.3rem;
    position: relative;

}
.msg p{
    width: 1.5rem;
    height: 0.23rem;
    font-size: 0.24rem;
    font-family: PingFang SC;
    font-weight: bold;
    color: #FFFBED;
    /* z-index: 5; */
    position: absolute;
    letter-spacing: 0.01rem;
    left: 2.08rem;
    top: -0.6rem;
  
}
.set-ring{
    width: 6rem;
    height: 1rem;
    text-align: center;
    position: relative;

  }
.set-ring img{
    width: 3.45rem;
    height: 0.95rem;
}
.set-ring p{
    width: 1.96rem;
    height: 0.31rem;
    font-size: 0.32rem;
    font-family: PingFang SC;
    font-weight: bold;
    color: #FFFAD3;
    position: absolute;
    left: 2rem;
    top: 0.3rem;

}
  
  .two-connect{
    width: 6.4rem;
    height: 0.75rem;
    position: relative;
    

  }
  .two-connect img{
    width: 6.4rem;
    height: 1rem;
    position: absolute;
    top: -0.12rem;
}

.video-group{
    width: 6rem;
    height: 13.84rem;
    background: #FFB955;
    /* box-shadow: 0px 7px 18px 0px #B60917, 0px -4px 0px 0px #FF6C3F, 0px 4px 0px 0px #FFD45D; */
    border-radius: 0.15rem;
    /* border-top-left-radius: 0rem ;
    border-top-right-radius: 0rem; */
    position: relative;

}
.group-header{
    width: 6rem;
    height: 0.77rem;
    position: absolute;
    /* top: -rem; */

}
.group-header img{
    width: 3.88rem;
    height: 0.77rem;
    position: absolute;
    left: 1.07rem;
    top: -0.08rem;


}
.group-header p{
    width: 2.78rem;
    height: 0.35rem;
    font-size: 0.36rem;
    font-family: PingFang SC;
    font-weight: bold;
    color: #96271C;
    z-index: 2;
    position: absolute;
    left: 1.62rem;
    top: 0.01rem;
}
.video-title{
    width: 5.16rem;
    height: 0.53rem;
    /* margin: 0.72rem 0.42rem; */
    margin-top: 0.72rem;
    margin-left: 0.42rem;

}
.video-title p{
    width: 5.16rem;
    height: 0.53rem;
    font-size: 0.24rem;
    font-family: PingFang SC;
    font-weight: bold;
    color: #96271C;
    padding-top: 0.1rem;
    text-align: center;
}
.video-box{
    width: 5.60rem;
    height: 11.3rem;
    background: #FFFCE9;
    border-radius: 0.14rem;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
    
}
.group-content{
    width: 5.60rem;
    height: 11.03rem;
   
   
    /* margin-top: 666660.3rem; */
    /* margin-right: 0.2rem;
    margin-left: 0.2rem; */
    display: flex;
    align-items: center;
    /* align-content: flex-start; */
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
}
.pop-item{

    width: 2.44rem;
    height: 4.32rem;
    background: #A0591A;
    border-radius: 0.08rem;
    /* margin-left: 0.01rem; */
    position: relative;
}
.pop-box{
    width: 5.6rem;
    height: 5.2rem;
    margin-top: 0.3rem;
   
    display: flex;
  
    justify-content: space-evenly;
    flex-direction: row;
    
}
/* #pop-left{
    /* margin-left: 0.1rem;
    margin-right: 0.1rem; */

}
#pop-right{
    margin-right: 0.1rem;

} */
#pop-pic1{
    width: 2.44rem;
    height: 4.32rem;
   

}
#pop-pic2{
    width: 2.44rem;
    height: 4.32rem;
}
.arttitle,#artitle1,#artitle2{
    width: 2.02rem;
    /* height: 0.25rem; */
    font-size: 0.26rem;
    font-family: PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 0.37rem;
    position: absolute;
    letter-spacing: 0.04rem;
    top: 88%;
    left: 0.31rem;
/* 超出部分显示... */
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;

}
.setring-btn{
    width: 2.54rem;
    height: 0.76rem;
    /* margin-left: 0.05rem; */
    /* position: absolute;
    left: 0.5rem;
    top: 0.1rem; */
    position: relative;
}
.setring-btn img{
    width: 2.54rem;
    height: 0.86rem;
    margin-left: 0.05rem;
    margin-bottom: 0.01rem;
    /* position: absolute;
    left: 1rem; */

}
#setring{
    /* width: 1.67rem; */
    height: 0.28rem;
    font-size: 0.28rem;
    font-family: PingFang SC;
    font-weight: 500;
    color: #FFFAD3;
    line-height: 0.40rem;
    z-index: 3;
    position: absolute;
     /* bottom: -0.54rem; */
     left: 0.3rem;
     top: 0.05rem;
}
#pk-player1,#pk-player2{
    width: 0.90rem;
    height: 0.90rem;
    position: absolute;
    top: 1.58rem;
    left: 0.87rem;
}
#setbtn{
    width: 2.54rem;
    height: 0.86rem;
    position: absolute;
    top: -0.1rem;
    left: -0.12rem;
}
#video1{
    display: none;
    width: 2.44rem;
    height: 4.32rem;
    border-radius: 0.8rem;
    background-size: auto;
}
#video2{
    display: none;
    width: 2.44rem;
    height: 4.32rem;
    border-radius: 0.8rem;
    background-size: auto;
}
.set-colorring{
    width: 6rem;
    height: 1rem;
    text-align: center;
    position: relative;

  }
.set-colorring img{
    width: 2.85rem;
    height: 0.81rem;
}
.set-colorring p{
    height: 0.23rem;
    font-size: 0.24rem;
    font-family: PingFang SC;
    font-weight: bold;
    color: #96271C;
    position: absolute;
    left: 2.6rem;
    top: 0.39rem;

}
.floating{
     
    width: 6rem;
    height: 1.64rem;
    position: fixed;
    top: 30rem;
    width: 6rem;
    height: 0.64rem;
    top: 10rem;
    z-index: 5;
}
.float-btn {
    width: 6.4rem;
    height: 1.66rem;
    position: relative;
    background: #FFFCE9;
    box-shadow: 0rem -0.07rem 0.07rem 0rem rgba(178, 34, 15, 0.41)
    

}
#float-button{
    width: 6rem;
    height: 1.64rem;
    animation-name: scale;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation: scale 1s infinite;
    -webkit-animation: scale 1s infinite;
    -webkit-animation-timing-function:linear;
    -webkit-animation-name: scale;
    -webkit-animation-duration:1s;
}
.float-btn p{
    width: 1.5rem;
    /* height: 0.48rem; */
    font-size: 0.48rem;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #FFFFE6;
    line-height: 0.48rem;
    position: absolute;
    top: 0.32rem;
    left: 2.3rem;
}
.null2{
    height: 1.62rem;
}
#float-icon{
    width: 0.76rem;
    height: 0.77rem;
    position: absolute;
    top: 0.42rem;
    left: 4.2rem;

    animation-name: floating;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation: floating 1s infinite;
    -webkit-animation:floating 1s infinite;
    -webkit-animation-timing-function:linear;
}
/* 动画代码 */
@keyframes scale {
    0%{
        transform: scale(1.02);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.02);
    }

  }
@keyframes floating {
0%{
    transform: translate(0.0);
}
50%{
    transform: translate(-.3rem,-.3rem);
}
100%{
    transform: translate(0,0);
}
}